// ./hectordenize/scss/core/_colors.scss
// COLORS CORE



// ------------------------------------------------------------------
// --------- COLORS VARIABLES ---------
// ------------------------------------------------------------------

$colorAccent: #53b7ed;
$colorWhite: #ffffff;
$colorPale: #f6f6f6;
$colorLight: #e6e6e6;
$colorDim: #688da1;
$colorDusky: #1d4154;
$colorDark: #122733;

// $colors: (label: $color)
$colors: (
  'accent': $colorAccent, 
  'white':  $colorWhite,
  'pale':   $colorPale,
  'light':  $colorLight, 
  'dim':    $colorDim, 
  'dusky':  $colorDusky, 
  'dark':   $colorDark
);
